# Compiled files

.ipynb_checkpoints/
process/__pycache__/
service_STT/__pycache__/

# Heavy files

.tmp/
maps/
calls/
!calls/*.wav

# Sensitive data

configs/credentials.yaml
configs/google-cloud.json
